---

---

<html lang="en">
	<link
  		rel="stylesheet"
  		href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
	>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body>
		<section class="section">
			<div class="middle">
				<h1 class="title">Astro + Bulma (Balls)</h1>
				<button class="button button-primary">Cum</button>
			</div>
		</section>
	</body>
</html>
