---
import Bar from "../components/bar.astro";
import Titlebar from "../components/bar.astro";
---

<html lang="en">
	<link
  		rel="stylesheet"
  		href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
	>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body>
		<Bar/>
		<section class="section bigfuck">
			<div class="middle">
				<h1 class="title bigfuckingtext">Hell 💥</h1>
				<button class="button button-primary">noooooooooooooo :(</button>
			</div>
		</section>
	</body>
</html>

<style>
	.bigfuck {
		min-height: 50em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

</style>