---
import MainButton from "./mainbutton.astro"
---
<div class="bar ">
    <MainButton/>
</div>

<style>
    .bar {
        min-height: 100vh;
        min-width: 3em;
        
        position: fixed;

        background-color: #fafa33;
    }
</style>